<h1>System anchor link try</h1>

<%= link_to "Trying path with parameters",
              new_base_path(activity,
                       	a_type: activity.class.to_s.downcase),
                  		title: 'Reverse  transaction',
                    	class: "reverse_transaction" %>