<div class="container-fluid">
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<center>
			<h3 style="color:#fff;">Welcome Admin</h3>
			<a class="btn btn-success" href="<%= clients_path %>">Login</a>
		</center>
	</div>
</div>
</div>