<table class="table table-striped">
  <tr><th>#</th><th>Full Name</th><th>Telephone</th><th>Reference</th><th>Date</th><th>Time</th><th></th></tr>
  <tr>
    <td>1</td>
    <td>Kofi Mintah</td>
    <td>0244102397</td>
    <td>d8akmb</td>
    <td>23 Mar. 2016</td>
    <td>02:40 PM</td>
    <td>
      <a href="#" class="btn btn-success btn-sm">Active</a>
      <a href="#" class="btn btn-danger btn-sm">Delete</a>
    </td>
  </tr>
</table>